<h1 class="header">Login with Firebase</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="loginForm" (submit)="tryLogin()">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <label class="error">{{errorMessage}}</label>
        </div>
        <button type="submit" class="btn btn-outline-secondary bg-mint mb-3 w-100">Login</button>
      </form>
      <p>No account yet? <a [routerLink]="['/register']">Create an account</a></p>
    </div>
  </div>
</div>
