<div class="w-100 p-2 d-flex gap-2 h-100">
    <div class="w-25">
        <div class="card h-100">
            <img class="card-img-top w-50 image m-auto mb" src="../../assets/profile-picture.png">
            <div class="card-body">
                <div class="form-group">
                    <label>Your account</label>
                    <p class="fw-bold mb-0">{{this.acc}}</p>
                    <label>Today's date</label>
                    <p class="fw-bold mb-0">{{this.date}}</p>
                    <label>Your IP Address</label>
                    <p class="fw-bold mb-0">{{this.ipAddress}}</p>
                </div>
                <button type="button" (click)="logout()" class="btn btn-secondary bg-mint w-100 mt-2 text-center">Logout</button>
            </div>
        </div>
    </div>
    <div class="w-50 card rounded p-2">
        <h1 class="fs-4" style="color: #488b49ff;">List of students:</h1>
        <table id="table-content">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>grade</th>
                <th>operations</th>
            </tr>
        </table>
    </div>
    <div class="p-3 w-25 card rounded">
        <form [formGroup]="studentForm" (submit)="add()">
            <label>Student name:</label>
            <input type="text" formControlName="name" class="form-control" required>
            <label>Student age:</label>
            <input type="number" formControlName="age" class="form-control" required>
            <label>Student grade:</label>
            <input type="text" formControlName="grade" class="form-control" required>
            <button type="submit" class="btn btn-secondary bg-mint mt-3 w-100"><span>Add student</span></button>
        </form>
    </div>
</div>